
.main {
    padding-top: 30px;
    background-color:#eceae7;
    
}

.card-title {
    color: #2a0808;
}

.card-text {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #555;
}
.jumbotron{
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
background: linear-gradient(to bottom,#979796, #aaa8a8ce);

font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;

font-style: italic;
font-weight: bolder;
   
    color: white;
    
    
}
.carousel-item{
   
    padding-left: 30px;
    padding-right: 30px;
}
.main1{
    background-color: #f9f8f6;
    padding-bottom: 50px;
}
.main-event{

padding-left: 80px;
padding-top: 30px;
background-color:#eceae7;
padding-bottom: 20px;
row-gap: 20px;

}
.head{
  
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font: weight 700px;
      font-style: italic;
      font-weight: bold;
    
    
}
.para{
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

